.container{
    background-color: #C5FFBB;

    margin: 3rem;
}

.title{
    font-size: 48px;
    font-weight: 600;

    text-align: center;
}

.contact{
    color: #15400E;

    text-decoration: none;
}

@media screen and (max-width:768px) {
    .resultImg{
        width: 100%;
    }

    .container{
        margin: 0;
        width: 100%;

        text-align: center;
    }
}